services:
  angie:
    image: "{{ img_angie }}"
    container_name: "angie"
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${HTTPS_PORT:-443}:443/tcp"
      - "${HTTPS_PORT:-443}:443/udp"  # HTTP/3 (QUIC)
    environment:
      TZ: "${TZ:-UTC}"
      AUTO_UPDATE_GEOIP: "${AUTO_UPDATE_GEOIP:-false}"
      GEOIP_MAX_AGE_DAYS: "${GEOIP_MAX_AGE_DAYS:-30}"
    volumes:
      - ./angie.conf:/etc/angie/angie.conf
      - angie_data:/var/www
      - angie_logs:/var/log/angie
      - angie_configs:/etc/angie/http.d
      - angie_streams:/etc/angie/stream.d
      - angie_certs:/var/lib/angie/acme
      - geoip:/usr/share/geoip
    networks:
      {{ docker.networks.net01 }}:
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 256M

networks:
  {{ docker.networks.net01 }}:
    external: true

volumes:

  # for GeoIP module
  geoip:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ angie_path_data_geoip }}"

  # angie volumes

  angie_data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ angie_path_data_data }}"

  angie_logs:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ angie_path_data_logs }}"

  angie_configs:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ angie_path_data_httpd }}"

  angie_streams:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ angie_path_data_streamd }}"

  # shared certs
  angie_certs:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ angie_certs_folder }}"