map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server {
  listen 443 quic;
  listen 443 ssl;

  server_name otus.orouzeroo.ru;
  acme        otus;

  ssl_certificate      $acme_cert_otus;
  ssl_certificate_key  $acme_cert_key_otus;

  ## включаем модуль безопасности
  # modsecurity on;
  # modsecurity_rules_file /etc/angie/modsecurity/rules.conf;

  ## Block by IP. Parameter configured at HTTP block
  #if ($match) {
  #  return 406;
  # }

  # включаем поддержку http2
  http2 on;
  # включаем поддержку http3
  http3 on;
  # разрешаем GSO
  quic_gso on;
  # разрешаем проверку адреса
  quic_retry on;

  # Определяем отдельный лог-файл
  access_log /var/log/angie/cms.access.log extended;
  access_log /dev/fd/1 json_analytics;

  location / {
    limit_req_status 429;
    limit_req zone=antiddos burst=50 nodelay;
    # используется для объявления о поддержке http/3
    add_header Alt-Svc 'h3=":443";max=86400';

#    set $project http://stream_cms;
#    proxy_pass $project;
#    proxy_http_version 1.1;
#    proxy_set_header Upgrade $http_upgrade;
#    proxy_set_header Connection $connection_upgrade;
#    proxy_set_header   Host $host;
#    proxy_set_header   X-Real-IP $remote_addr;
#    proxy_cache_bypass $http_upgrade;
#    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header   X-Forwarded-Proto $scheme;

    default_type application/json;
    return 200 '{"result": "success"}';
  }

  # status_zone yjb_zone;

  # redirect server error pages to the static page /50x.html
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    limit_req_status 429;
    limit_req zone=antiddos burst=10 nodelay;
    root   /usr/share/angie/html;
  }
}

