# POSTGRES
POSTGRES_DB=drupal
POSTGRES_USER={{ postgresql_user }}
POSTGRES_PASSWORD={{ postgresql_password }}
POSTGRES_DB_PORT={{ primary_port }}
PG_HOST={{ primary_host }}

# CMS
DRUPAL_ADMIN_USER={{ app_admin }}
DRUPAL_ADMIN_PASSWORD={{ app_password }}
DRUPAL_ADMIN_EMAIL={{ email }}
DRUPAL_SITE_NAME={{ drupal_site_name }}

