{
{% if docker.insecure_registries is defined %}
  "insecure-registries" : [
{% for key, value in docker.insecure_registries.items() %}
    "{{value.host}}:{{value.port}}"{%if not loop.last %},{% endif %}
{% endfor %}
  ],
{% endif %}  
  "features": {
    "buildkit": true
  },
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "5",
    "labels": "production_status",
    "env": "os,prod"
  },
  "userland-proxy": true
}