services:

# Loki
  loki:
    image: "{{ img_loki }}"
    container_name: loki
    restart: unless-stopped
    volumes:
      - "{{ obs_path }}/loki_config.yaml:/etc/loki/loki_config.yaml:ro"
      - loki_data:/loki
    ports:
      - "3100:3100"
    command: '--config.file=/etc/loki/loki_config.yaml'
    networks:
      {{ docker.networks.net01 }}:
    healthcheck:
      test: [ "CMD", "/usr/bin/loki", "-health" ]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 5

# Mimir
  mimir:
    image: "{{ img_mimir }}"
    container_name: mimir
    command:
      - "-config.file=/etc/mimir/config.yaml"
    volumes:
      - "{{ obs_path }}/mimir_config.yaml:/etc/mimir/config.yaml:ro"
      - mimir_data:/data
    ports:
      - "9009:9009"
    restart: unless-stopped
    networks:
      {{ docker.networks.net01 }}:

# Grafana
  grafana:
    image: "{{ img_grafana }}"
    container_name: grafana
    depends_on:
      - mimir
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "${GF_SECURITY_ADMIN_USER}"
      GF_SECURITY_ADMIN_PASSWORD: "${GF_SECURITY_ADMIN_PASSWORD}"
    volumes:
      - "{{ obs_path }}/grafana.ini:/etc/grafana/grafana.ini"
      - grafana_data:/var/lib/grafana
      - grafana_provisioning:/etc/grafana/provisioning:ro
      - grafana_dashboards:/var/lib/grafana/dashboards:ro
    restart: unless-stopped
    networks:
      {{ docker.networks.net01 }}:

networks:
  {{ docker.networks.net01 }}:

volumes:

# Mimir
  mimir_data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ mimir_path }}"

# Grafana
  grafana_data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ grafana_path }}"

  grafana_provisioning:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ grafana_provisioning_path }}"

  grafana_dashboards:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ grafana_dashboards_path }}"

# Loki
  loki_data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ loki_path }}"